@font-face{
    font-family: 'Gotham';
    src: url('font/gotham.otf');
}

html{
    background-color: #202020;
}

header{
    font-family: Gotham;
    max-height: 10%;
    
}

.gotham{
    font-family: Gotham;
}

#hamburger{
    padding-top: 0.5%;
}

#sidenav{
    padding-bottom: 5%;
}

#logo{
    width: 80%;
    max-width: 400px;
}


  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  svg {
    animation: fadeIn 1s ease-in infinite alternate;
   
  }