@font-face {
    font-family: 'Gotham';
    src: url('font/gotham.otf');
}

header{
    font-family: Gotham;
}

.gotham{
    font-family: Gotham;
}

#hamburger{
    padding-top: 5px;
}

#sidenav{
    padding-bottom: 5%;
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  svg {
    animation: fadeIn 1s ease-in infinite alternate;
   
  }